<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->



    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/angular-resource/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    

    <script src="app/config.js"></script>

    <!-- base -->
    <script src="app/app.js"></script>

    <!-- modulos / serviços -->
    <script src="app/filters.js"></script>
    <script src="app/services.js"></script>


    <!-- controllers -->
    <script src="app/controllers/global.js"></script>
    <script src="app/controllers/dashboard.js"></script>


  </head>
  <body ng-app="cr" ng-controller="GlobalController">

    <ion-pane ng-controller="DashboardController">

      <ion-header-bar class="bar-stable">
        <h1 class="title"># Cenouro Responde</h1>
      </ion-header-bar>
      <ion-content>


      <div class="row row-center">
        <div class="col col-50"><img src="img/cenouro-2015-5.png" ></div>
        <div class="col col-50">

          <div class="messages" ng-repeat="message in chat.messages">
            <div class="bubble you" ng-if="message.q">{{message.q}}</div>
            <div class="bubble me" ng-if="message.r">{{message.r}}</div>
          </div>

        </div>        
      </div>

      <div class="credit">por 77chan.com</div>

<div class="list">

<form ng-submit="Send()">
  <label class="item item-input question-box">
        <span class="input-label">Pergunta:</span>
        <input type="text" ng-model="user.question" maxlength="90">
        
      </label>

      <button class="button button-stable icon ion-mic-a btn-mic" ng-click="Rec()">
        </button>

  <button class="button button-block button-stable icon ion-checkmark send-btn">
        Enviar
      </button>
  

  

</form>



</div>



      </ion-content>

    </ion-pane>
  </body>
</html>
